<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682781926259-mprcju1agb6hqr4o3p4tds5p65c9d98e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682781926259-mprcju1agb6hqr4o3p4tds5p65c9d98e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682781926259-o5q93b93arqubi5gb9gtaso29but1bcj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDO9rDPvIvnknZrO1a7Sjj19YcIyfIFBJA</string>
	<key>GCM_SENDER_ID</key>
	<string>682781926259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezCharge</string>
	<key>PROJECT_ID</key>
	<string>ezcharge-22de2</string>
	<key>STORAGE_BUCKET</key>
	<string>ezcharge-22de2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682781926259:ios:7af7409fe62519e4a4db06</string>
	<key>DATABASE_URL</key>
	<string>https://ezcharge-22de2.firebaseio.com</string>
</dict>
</plist>